{{- $gitName := promptStringOnce (. | dig "git" dict) "name" "What is your git name" "Peter Medus" -}}
{{- $gitEmail := promptStringOnce (. | dig "git" dict) "email" "What is your git email" "16763503+Facel3ss1@users.noreply.github.com" -}}
{{- $gitEditor := promptChoiceOnce (. | dig "git" dict) "editor" "What is your git editor" (list "nvim" "code" "none") -}}

[data.git]
name = {{ $gitName | quote }}
email = {{ $gitEmail | quote }}
editor = {{ $gitEditor | quote }}

[data.windows]
{{ $powershellExecutable := or (lookPath "pwsh.exe") "powershell.exe" -}}
{{- $isWSL := and (eq .chezmoi.os "linux") (.chezmoi.kernel.osrelease | lower | contains "microsoft") -}}
powershellExecutable = {{ $powershellExecutable | quote }}
isWSL = {{ $isWSL | toToml }}

{{ if eq .chezmoi.os "windows" }}
[cd]
command = {{ $powershellExecutable | quote }}
args = ["-NoLogo"]
{{- end }}

[diff]
command = "difft"
