{{- $gitName := promptStringOnce (. | dig "git" dict) "name" "What is your git name" "Peter Medus" -}}
{{- $gitEmail := promptStringOnce (. | dig "git" dict) "email" "What is your git email" "16763503+Facel3ss1@users.noreply.github.com" -}}
{{- $gitEditor := promptChoiceOnce (. | dig "git" dict) "editor" "What is your git editor" (list "nvim" "code" "none") -}}

[data.git]
name = {{ $gitName | quote }}
email = {{ $gitEmail | quote }}
editor = {{ $gitEditor | quote }}

{{ if eq .chezmoi.os "windows" -}}
[cd]
{{ $powershellExecutable := ne (lookPath "pwsh.exe") "" | ternary "pwsh.exe" "powershell.exe" -}}
command = {{ $powershellExecutable | quote }}
args = ["-NoLogo"]

{{ end -}}
[diff]
command = "difft"
