[user]
	name = Peter Medus
	email = 16763503+Facel3ss1@users.noreply.github.com
[init]
	defaultBranch = main
[core]
	editor = nvim
[pull]
	ff = only
[rebase]
	autoSquash = true
[merge]
	conflictStyle = diff3
[diff]
	algorithm = histogram
[alias]
	s = status
	l = log --graph --decorate --pretty=oneline --abbrev-commit
{{ if eq .chezmoi.os "windows" -}}
[http]
	# Use Windows' SSL so Visual Studio doesn't complain about missing certificates
	# See https://github.com/scalingexcellence/scrapybook/issues/36
	sslBackend = schannel
{{ end -}}
[credential]
	{{ with .windows -}}
	{{- if .isWSL -}}
	# Use Windows' credential manager from WSL
	{{ $scoopPath := or (trim (output .powershellExecutable "-Command" "$env:SCOOP")) (print (trim (output .powershellExecutable "-Command" "$env:USERPROFILE")) "\\scoop") -}}
	{{ $scoopPathWsl := trim (output "wslpath" "-u" $scoopPath) -}}
	helper = {{ $scoopPathWsl }}/apps/git/current/mingw64/bin/git-credential-manager.exe
	{{- else -}}
	helper = manager
	{{- end -}}
	{{- end }}
# This requires Git 2.36+
[includeIf "hasconfig:remote.*.url:{{ .uni.git.remote }}/**"]
	# This file overrides the email for university repositories
	path = uni
[credential "{{ .uni.git.remote }}"]
	# See https://github.com/GitCredentialManager/git-credential-manager/blob/main/docs/gitlab.md
	GitLabDevClientId = {{ .uni.git.GitLabDevClientId }}
	GitLabDevClientSecret = {{ .uni.git.GitLabDevClientSecret }}
	gitLabAuthModes = browser
	provider = gitlab
