# This is a good article about git config options: https://jvns.ca/blog/2024/02/16/popular-git-config-options/
[user]
	name = {{ .git.name }}
	email = {{ .git.email }}
[init]
	defaultBranch = main
[core]
	{{ if eq .git.editor "nvim" -}}
	editor = nvim
	{{- else if eq .git.editor "code" -}}
	editor = code --wait
	{{- end }}
[branch]
	sort = -committerdate
[fetch]
	prune = true
[pull]
	ff = only
[rebase]
	autoSquash = true
[merge]
	conflictStyle = zdiff3
	{{ if eq .git.editor "nvim" -}}
	tool = nvimdiff
	{{- else if eq .git.editor "code" -}}
	tool = code
	{{- end }}
[mergetool]
	writeToTemp = true
	keepBackup = false
[mergetool "code"]
	cmd = code --wait --merge $REMOTE $LOCAL $BASE $MERGED
[diff]
	algorithm = histogram
	{{ if eq .git.editor "nvim" -}}
	tool = nvimdiff
	{{- else if eq .git.editor "code" -}}
	tool = code
	{{- end }}
	external = difft
[difftool "code"]
	cmd = code --wait --diff $LOCAL $REMOTE
[alias]
	st = status
	l = log --graph --decorate --pretty=oneline --abbrev-commit
{{ if eq .chezmoi.os "windows" -}}
[http]
	# Use Windows' SSL so Visual Studio doesn't complain about missing certificates
	# See https://github.com/scalingexcellence/scrapybook/issues/36
	sslBackend = schannel
{{ end -}}
[credential]
	{{ with .windows -}}
	{{- if .isWSL -}}
	# Use Windows' credential manager from WSL
	{{ $scoopPath := or (output .powershellExecutable "-Command" "$env:SCOOP" | trim) (print (output .powershellExecutable "-Command" "$env:USERPROFILE" | trim) "\\scoop") -}}
	{{ $scoopPathWsl := output "wslpath" "-u" $scoopPath | trim -}}
	helper = {{ $scoopPathWsl }}/apps/git/current/mingw64/bin/git-credential-manager.exe
	{{- else -}}
	helper = manager
	{{- end -}}
	{{- end }}
{{ if .uni.enabled -}}
# This requires Git 2.36+
[includeIf "hasconfig:remote.*.url:{{ .uni.git.remote }}/**"]
	# This file overrides the email for university repositories
	path = uni
[credential "{{ .uni.git.remote }}"]
	# See https://github.com/GitCredentialManager/git-credential-manager/blob/main/docs/gitlab.md
	GitLabDevClientId = {{ .uni.git.GitLabDevClientId }}
	GitLabDevClientSecret = {{ .uni.git.GitLabDevClientSecret }}
	gitLabAuthModes = browser
	provider = gitlab
{{- end }}
