[user]
name = {{ .git.name | quote }}
email = {{ .git.email | quote }}

[ui]
default-command = "log"

{{ if eq .git.editor "nvim" -}}
editor = "nvim"
{{- else if eq .git.editor "code" -}}
{{ if eq .chezmoi.os "windows" -}}
editor = "code.cmd -w"
{{- else -}}
editor = "code -w"
{{ end -}}
{{- end }}

diff.tool = "difft"
diff-editor = ":builtin"

[aliases]
before = ["new", "-B", "@", "-A", "@-", "--no-edit"]

[template-aliases]
"format_short_signature(signature)" = "signature.name()"
"format_timestamp(timestamp)" = "timestamp.ago()"

[revset-aliases]
at = "@"
